websocket-client==0.56.0
kafka-python==2.0.2
pydantic==1.8.2
fastapi==0.79.0
nltk==3.7
pymongo~=4.1.1
setuptools~=61.2.0
stomper~=0.4.3
uvicorn~=0.18.2
redis==4.3.4
dnspython==2.2.1
rank_bm25
requests
fastapi_health
cached-property
python-dateutil
aiohttp
deprecation
fastapi_utils
elasticsearch==7.17.3
seqlog==0.3.26
unidecode==1.3.4
six
bs4
emoji==1.7.0